src/n8n-automation/Generador de embeddings.json
{
  "name": "Generador de embeddings",
  "nodes": [
    {
      "parameters": {
        "collection": "urls",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        768,
        -416
      ],
      "id": "ffdc43ab-b988-4fbf-ad64-e6f70a947e47",
      "name": "Find documents",
      "credentials": {
        "mongoDb": {
          "id": "44uvjFS2nQmOBnWb",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "mongoCollection": {
          "__rl": true,
          "value": "titles",
          "mode": "list",
          "cachedResultName": "titles"
        },
        "metadata_field": "title",
        "vectorIndexName": "titles",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreMongoDBAtlas",
      "typeVersion": 1.3,
      "position": [
        1824,
        -304
      ],
      "id": "ad02195d-cceb-4958-9c61-04a10eddc970",
      "name": "MongoDB Atlas Vector Store",
      "credentials": {
        "mongoDb": {
          "id": "44uvjFS2nQmOBnWb",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1904,
        0
      ],
      "id": "16071ea2-dd6b-4c3b-a235-6e5e41161458",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "g3anlsYQc3yYZ2yb",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        2112,
        0
      ],
      "id": "59c5ae56-dec1-4931-ac7a-4f9d33ce4542",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 12,
              "triggerAtMinute": 20
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        528,
        -400
      ],
      "id": "5f2f30c2-da19-4208-93bc-7a102992879e",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "collection": "titles",
        "options": {},
        "query": "={\"title\": \"{{ $json.title }}\"}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        1056,
        -496
      ],
      "id": "6351c138-c8b1-4c08-8815-60d955837255",
      "name": "Find documents1",
      "credentials": {
        "mongoDb": {
          "id": "44uvjFS2nQmOBnWb",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1296,
        -304
      ],
      "id": "fa725af7-8e98-4f8f-8c68-ba86ea4a2309",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Obtener todos los elementos del nodo anterior\nconst items = $input.all();\n\n// Contador de ocurrencias por título\nconst titleCount = {};\n\n// Contar cuántas veces aparece cada título\nfor (const item of items) {\n  const title = item.json.title;\n  titleCount[title] = (titleCount[title] || 0) + 1;\n}\n\n// Filtrar solo los elementos cuyo título aparece una sola vez\nconst uniqueItems = items.filter(item => titleCount[item.json.title] === 1);\n\n// Devolver los elementos únicos (sin duplicados)\nreturn uniqueItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        -304
      ],
      "id": "cbda8c27-ec35-45a8-8f61-702a021a1b5c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "733669a0-b91c-49ab-9497-dd34935cd858",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1648,
        -304
      ],
      "id": "34617304-acd4-44af-a2ad-dde3002d96f5",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Find documents": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Find documents1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "MongoDB Atlas Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "MongoDB Atlas Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Atlas Vector Store": {
      "main": [
        []
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Find documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find documents1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "MongoDB Atlas Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "faf60e96-c538-40a6-8174-1b1750572a28",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dfaa74a960087ae3552b3afefc7f485f943206154cf5ae1a987fac010cf80f86"
  },
  "id": "CMn5QwJCEKAlqSWc",
  "tags": []
}